.about-cont {
  background-color: #f4f8fb;

  width: 100%;
  display: flex;
  justify-content: center;
}
.bkgrnd-image-one {
  display: flex;

  padding-top: 20px;
  align-items: center;
  background-color: #f4f8fb;

  width: 20%;

  opacity: 0.1;
}
.main-container {
  background-color: white;
  margin: 10px;
  padding: 10px;
  border-radius: 12px;
  width: 100%;
  display: flex;
  overflow: auto;
  height: 250px;
  justify-content: space-between;
}
.info-cont-tex {
  width: 70%;
  height: 100px;
}
.main-container-last {
  background-color: white;
  margin: 10px;
  padding: 10px;
  border-radius: 12px;
  width: 50%;
  display: flex;
  overflow: auto;
  height: 260px;
  justify-content: center;
}

.ftwo-extra {
}

.info-cont-img {
  justify-content: center;
  text-align: center;
  align-items: center;
  height: auto;
  width: 150px;
  border-radius: 12px;
  background-repeat: no;
  background-size: cover;
  margin: 15px;
}
.img-one {
  background-image: url("../../images/img1.jpeg");
}
.img-two {
  background-image: url("../../images/img4.jpeg");
}
.img-three {
  background-image: url("../../images/img3.jpeg");
}
.img-four {
  background-image: url("../../images/img4.jpeg");
}
.img-five {
  background-image: url("../../images/img5.jpeg");
}
.ao {
  width: 68%;
  padding-right: 5%;
}
.ptext {
  padding: 10px 0px;
  font-size: 13px;
  /* height: 100%; */
  color: #333533;
}
.card-comp-ups {
  width: 100%;
  height: 62px;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  background-color: #d29c5c;
}
.aos {
  width: 50%;
}
.ftwos {
  width: 100%;
  padding-left: 0px;
  padding-top: 35px;
  display: flex;
  justify-content: center;
}
.card-comp-downs {
  width: 100%;
  height: 79%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  justify-content: center;
  text-align: center;
  align-items: center;
  border-bottom-right-radius: 13px;
  border-bottom-left-radius: 13px;
  background-color: White;
}
.card-comp-up {
  width: 100%;
  height: 62px;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  background-color: #d29c5c;
}
.info-cont-text-tech {
  background-color: #d29c5c;
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin:  5px;
}

.ptext-small {
  font-size: 10px;
}
.tech-main-conty {
  margin-right: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 10px 10px 20px;
}
.padd-ten {
  margin-right: 20px;
}
.card-comp-down {
  display: flex;
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: blue orange;
  width: 100%;
  height: 180px;
  overflow: auto;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  justify-content: center;
  text-align: center;
  align-items: center;
  border-bottom-right-radius: 13px;
  border-bottom-left-radius: 13px;
  background-color: White;
}
.ftwo {
  width: 100%;

  padding-left: 10px;
  padding-top: 35px;
  display: flex;
}
.card-head {
  font-size: 19px;
  font-weight: bold;
  color: white;
  padding-top: 17px;
  padding-bottom: 11px;
} /* Works on Firefox */
.imgdata {
  height: 160px;
  width: 180px;
}
.card-comp-down {
  scrollbar-width: thin;
  scrollbar-color: #d29c5c orange;
}

/* Works on Chrome, Edge, and Safari */
.card-comp-down::-webkit-scrollbar {
  width: 12px;
}

.card-comp-down::-webkit-scrollbar-track {
  background: #fff6e4;
}

.card-comp-down::-webkit-scrollbar-thumb {
  background-color: #d29c5c;
  border-radius: 20px;
  border: 3px solid #fff6e4;
}
.span-head {
  padding-left: 4px;
  color: #d29c5c;
}
.main-div {
  background-color: #d29c5c;
  height: 200px;
  width: 160;
}
.main-head {
  justify-content: center;
  /* padding-top: 6%; */
  font-size: 40px;
  color: #333533;
  font-weight: bold;
  text-align: center;
  display: flex;
  padding-right: 25px;
  margin: 20px 0px;
}
.about-info {
  background-color: #f4f8fb;
  margin-bottom: 50px;
  width: 75%;
}
.heading-cont {
  justify-content: center;
  align-items: center;
  padding-top: 7%;
  margin-bottom: 35px;
  font-size: 40px;
  color: #333533;
  font-weight: bold;
  display: flex;
}
.bkgrnd-image-two {
  overflow: hidden;
  background-color: #f4f8fb;
  /* overflow: hidden; */
  opacity: 0.1;
  width: 17%;
  text-align: end;
}
.ml-5p {
  margin-left: "15px";
}
.main-card {
  height: 40vh;
  width: 50 vh;
  background-color: #d29c5c;
}

.card-comp-up:hover {
  background-color: #d29c5c;
}
.card-comp-ups:hover {
  background-color: #d29c5c;
}
.more-info {
  color: #d29c5c;
  padding: 5px;
  text-align: end;
}
.abcde {
  cursor: pointer;
  color: #d29c5c;
}
@media screen and (max-width: 960px) {
  .main-head {
    font-size: 35px;
    /* margin-bottom: 25px; */
  }
  .ftwo {
    display: block;
    margin-right: 0%;
    padding-top: 0%;
  }
  .about-cont {
  }
  .ftwos {
    padding-top: 0%;
    padding-left: 0%;
  }
  .ao {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 18px;
  }
  .main-container-last {
    width: 100%;
  }
  .main-container {
    height: 200px;
  }
  .aos {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 18px;
  }
  .card-comp-down {
    height: 180px;
    /* width: 100%; */
  }
}

@media screen and (max-width: 698px) {
  .imgdata {
    height: 100px;
    width: 120px;
  }
  .ptext {
    font-size: 11px;
  }

  .ao {
    width: 100%;
  }
  .card-head {
    font-size: 16px;
  }
  .about-cont {
  }
  .card-comp-up {
    height: 20%;
  }
  .main-head {
    font-size: 30px;
    padding-right: 0px;
    /* margin-top: 30px; */
  }
}
@media screen and (max-width: 600px) {
  .info-cont-img {
    justify-content: center;
    text-align: center;
    align-items: center;
    height: auto;
    width: 86%;
    border-radius: 12px;
    background-repeat: no;
    background-size: cover;
    margin: 15px;
    height: 250px;
  }
  .main-container {
    display: inline-block;
    height: auto;
    text-align: center;
    margin: 0px;
  }
  .info-cont-tex {
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 460px) {
  .main-container {
    display: inline-block;
    height: auto;
    text-align: center;
    margin: 0px;
  }
  .info-cont-tex {
    width: 100%;
    height: auto;
  }
  .tech-main-conty {
    display: inline;
  }
}
@media screen and (max-width: 460px) {
  .about-cont {
  }
  .main-head {
    display: block;
    padding-top: 10px;
  }
}
@media screen and (max-width: 388px) {
  .about-cont {
  }
  .ptext {
    padding: 9px;
    color: #333533;
    font-size: 12px;
  }
}

@media screen and (max-width: 319px) {
  .about-cont {
  }
}
@media screen and (max-width: 306px) {
  .about-cont {
  }
}
