.navbar {
  background: #FFF6E4;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  top: -1px;
  z-index: 999;
  position: sticky;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
}

.navbar-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* max-width: 1500px;
   */
   width: 100%;
}

.navbar-logo {
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.fa-typo3 {
  margin-left: 0.5rem;
  font-size: 1.8rem;
}

.logo {
  margin-right: 134px;
  height: 66px;
  padding: 3px;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  padding-top: 1%;
  width: 60vw;
  justify-content: end;
  /* margin-right: 5.5rem; */
}

.nav-item {
  
  cursor: pointer;
  height: 50px;
}

.nav-links {
  cursor: pointer;
  color: black;
  display: grid;
  grid-template-columns: repeat();
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 70%;
}


.nav-links:hover {
  color: #d29c5c;
  border-bottom: 4px solid #d29c5c;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: #d29c5c;
}

.abb {
  background-color: #242222;
  border-radius: 8px;
  height: 28px;
  width: 28px;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

.w-app {
  padding-top: 6px;
}

.w-apps {
  height: 0px;
  width: 0px;
}

.w-app:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 960px) {
  .navbar-container{
justify-content: space-between;
  }
  .menu-icon {
    left: 95%;
    margin-top: 10px;
  }
  .NavbarItems {
    position: relative;
  }
  .nav-links:hover {
    color: #d29c5c;
    border-bottom: 4px solid #d29c5c;
    transition: all 0.2s ease-out;
  }
  .w-apps {
    margin-right: 33px;
    height: 29px;
    width: 40px;
  }

  .navbar {
    background: #FFF6E4;
    height: 80px;
    display: flex;
    justify-content: start;
    padding-left: 20px;
    align-items: center;
    font-size: 1.2rem;

    /* top: 0; */
    z-index: 999;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    justify-content: start;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: white;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: #fff;
    color: #242424;
    border-radius: 0;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #d29c5c;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 100%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
  }
.w-app{
  height: 0px;
  width: 0px;
}
.nav-links:hover {
  color: #d29c5c;
  border-bottom: 4px solid #ffff;
  transition: all 0.2s ease-out;
}
  .w-apps {
    margin-right: 20px;
  }
 
}

@media screen and (max-width: 440px) {
  .menu-icon {
    /* left: 100%; */
  }
}

 